<html>
<head>
<title>QR | Bar</title>
<link rel="stylesheet" type="text/css" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    
<body>
<div class="screenr">
    <div class="screentop"></div>
    <div class="blockr">
        <table>
  <tr>
    <th><h2>Beer</h2></th>
    <th><h2>2</h2></th>
  </tr>
  <tr>
    <th><h2>Beer</h2></th>
    <th><h2>2</h2></th>
  </tr>
  <tr>
    <th><h2>Beer</h2></th>
    <th><h2>2</h2></th>
  </tr>
  <tr>
    <th><h2>Beer</h2></th>
    <th><h2>2</h2></th>
  </tr>
  <tr>
    <th><h2>Beer</h2></th>
    <th><h2>2</h2></th>
  </tr>
  <tr>
    <th><h2>Beer</h2></th>
    <th><h2>2</h2></th>
  </tr>
  <tr>
    <th><h2>Beer</h2></th>
    <th><h2>2</h2></th>
  </tr>
        </table>
    </div>
    <div class="navigation">
        <a href="QR.html">
            <div class="navigationitem"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Qrcode_font_awesome.svg/1024px-Qrcode_font_awesome.svg.png" height="100px" id="opacity"></div>
        </a>
        <div class="navigationitem"></div>
        <div class="navigationitem"></div>
    </div>
    
</div>
</body>
</html>