<html>
<head>
<title>QR | Map</title>
<link rel="stylesheet" type="text/css" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    
<body>
<div class="screenl">
    <div class="screentop"></div>
    <div class="blockl">
        <img src="https://i.pinimg.com/736x/6f/49/ac/6f49ac14c53e8e462c7c7dde207f2fc4--festival-decorations-map-design.jpg" style="width: 700px; margin-top: 120px;">
        <h1></h1>
    </div>
    <div class="navigation">
        <div class="navigationitem"></div>
        <div class="navigationitem"></div>
        <a href="QR.html">
            <div class="navigationitem"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Qrcode_font_awesome.svg/1024px-Qrcode_font_awesome.svg.png" height="100px" id="opacity"></div>
        </a>
    </div>
    
</div>
</body>
</html>