{% load staticfiles %}

<script type="text/javascript" src="{% static "library/html5-qrcode/lib/html5-qrcode.min.js" %}"></script>
<script type="text/javascript" src="{% static "library/html5-qrcode/lib/jsqrcode-combined.min.js" %}"></script>
{% csrf_token %}
<p>Hallo</p>
<div id="reader" style="width:300px;height:300px">
</div>

<form method="POST" id="post-form">
    {% csrf_token %}
    <input id="qrcode" name="qr" type="hidden">
    <select name="drink">
        <option value="Beer" selected>beer</option>
        <option value="Wine">Wine</option>
        <option value="Cola">Cola</option>
        <option value="Liquor">Liquor</option>
    </select>
    <input div="#number" type="number" name="amount" value="1">

</form>
<button id="test">TEST</button>

<script>
    mdnAPI = "http://172.16.23.140:7999";

    $("#test").click(function () {
        form_post("AB");

    });

    function objectifyForm(formArray) {//serialize data function

        var returnArray = {};
        for (var i = 0; i < formArray.length; i++) {
            returnArray[formArray[i]['name']] = formArray[i]['value'];
        }
        return returnArray;
    }

    function succes() {
        alert("post succesful")
    }


    function form_post(data) {
        //You have to get in this code the values you need to work with, for example:
        $("#qrcode").val(data);
        var datastring = $("#post-form").serialize();

        $.ajax({  //Call ajax function sending the option loaded
            url: mdnAPI,  //This is the url of the ajax view where you make the search
            type: 'post',
            data: datastring,
            success: function (response) {
                result = JSON.parse(response);  // Get the results sended from ajax to here
                if (result.error) { // If the function fails
                    // Error
                    alert(result.error_text);
                } else {  // Success
                    alert("succes")
                    //Here do whatever you need with the result;
                }
            }
        });
        alert("succes");

    }

    $('#reader').html5_qrcode(function(data){
        form_post(data)},
                function (error) {
                    //show read errors
                }, function (videoError) {
                //the video stream could be opened
            }

    );
</script>